<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <style>
      body {
        background: rgba(10, 0, 10, .57);
      }
        .text-center {
          text-align: center;
          font-size: 4rem;
        }

        p {
          font-size: 1.5rem;
        }
    </style>
  </head>
  <body onload='number_pages'>
    <div id="header" class="text-center">
      <h2>Shipment Receipt</h2>
      <%= image_tag wicked_pdf_asset_base64('logo.png') %>
    </div>
    <div id="content" class="text-center">
      <p><strong>Ship Date:</strong> <%= @shipment.created_at.strftime("%d/%m/%Y") %></p>
      <p><strong>Tracking Number:</strong> <%= @shipment.trackingnumber %></p>
      <p><strong>Recipient:</strong> <%= @shipment.receiverName %></p>
      <p><strong>Sender:</strong> <%= @shipment.senderName %></p>
      <hr>
      <%= image_tag wicked_pdf_asset_base64('barcode.png') %>
      <%#= wicked_pdf_image_tag "https://img2.pngio.com/barcode-design-element-transparent-png-svg-vector-file-barcode-design-png-512_512.png" %>
      <%= yield %>
    </div>
  </body>
</html>
